<?xml version="1.0" encoding="utf-8"?>
<zone>
  <short>Public</short>
  <description>Public (default) zone customized for RTSA.</description>
  <service name="http"/>

  <rule family="ipv4">
    <source address="{{ hostvars.bastion.ansible_host_ipaddr }}/32"/>

    <service name="ssh"/>
    <accept/>
  </rule>
</zone>
