# Ignore everything except for the .gitignore file
*
!.gitignore

# Don't ignore Markdown files
!**/*.md

# Don't ignore the IaC directory
!/infrastructure

# Don't ignore Terraform files, unless they're dotfiles
!/infrastructure/terraform
!/infrastructure/terraform/[^.]*

# Don't ignore Terraform templates
!/infrastructure/terraform/templates/*.tftpl

# Don't ignore Ansible files, unless they're dotfiles
!/infrastructure/ansible
!/infrastructure/ansible/[^.]*

# Don't ignore static files used by both Ansible and TF
!/infrastructure/**/files
!/infrastructure/**/files/*
