---
ungrouped:
  hosts:
    bastion:
      ansible_host: ${ansible_hosts["bastion"].ipaddr}

debian:
  hosts:
%{~ for host, attr in ansible_hosts ~}
  %{ if attr.os_shortname == "debian" }
    ${host}:
      ansible_host: ${attr.ipaddr}
  %{ endif }
%{~ endfor ~}

rocky:
  hosts:
%{~ for host, attr in ansible_hosts ~}
  %{ if attr.os_shortname == "rocky" }
    ${host}:
      ansible_host: ${attr.ipaddr}
  %{ endif }
%{~ endfor ~}
...
