
/* custom CSS stylesheet for roadtosysadmin.net */

/* #TODO: move the links out of the file; humans.txt might be a better choice */
/* https://stackoverflow.com/questions/609517/why-em-instead-of-px#609561 */

/**
 * === body ===
 */

body {
  color: #000;
  background-color: #fff;
  font-size: medium;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  text-align: left;
  line-height: 1.5em;
}

body#index > main, body#error > main { text-align: center; }

body#error > main > p:not(.exclusions) { margin-top: 5em; }

body#error > main > a { margin-left: 2em; }

/**
 * === anchors ===
 */

a:link {
  color: #0000EE;
  text-decoration: none;
}

a:visited { color: #551A8B; }

a:hover { text-decoration: underline; }

/* overwrite markdown.css */
main.md a { color: #0000EE; }

/**
 * === main ===
 */

main {
  padding: 1em 2em 1em 2em;
  margin-bottom: 5em;
  position: static;
  overflow-y: hidden;
}

main > nav > a {
  /* https://www.w3.org/Style/Examples/007/center.en.html */
  margin-left: auto;
  margin-right: auto;
  display: table;
  line-height: 2.5em;
}

/* overwrite normalize.css */
/* #TODO: check if an overwrite is actually happening or is even needed */
.md sup {
  font-size: unset;
  font-weight: bold;
  line-height: unset;
  position: unset;
  display: block;
  overflow-x: hidden;
}

/* overwrite markdown.css */
/* #TODO: check if the overwrites are valid (same as in previous TODO) */
.md ul > li > ul > li {
  margin-top: 10px;
  list-style-type: disc;
}

.md ul > li > p {
  margin-bottom: 5px;
}

/**
 * === common ===
 */

 header, footer {
  right: 0;
  left: 0;
  background-color: #e0e0e0;
  text-align: center;
}

/**
 * === header ===
 */

header {
  /* https://stackoverflow.com/questions/6431881/css-layout-for-fixed-header-and-100-content-height#6432052 */
  top: -1px;
  padding-top: 1em;
  padding-bottom: 1em;
  position: sticky;
}

header > h3 {
  margin-top: 0;
}

header > p {
  line-height: 1em;
}

/* #TODO: move dates (published, updated) to the head element */
header > p#updated { font-family: monospace; }

/**
 * === footer ===
 */

footer {
  /* https://stackoverflow.com/questions/13609006/floating-footer-always-on-the-bottom-and-visible#13609095 */
  bottom: -1px;
  height: 4em;
  padding-top: 1em;
  position: fixed;
} /*http://jsfiddle.net/ZsnuZ/*/

footer > nav > ul {
  margin-left: -35px;
}

footer > nav > ul > li {
  display: inline;
}

footer > nav > ul > li > a, footer > nav > ul > li > s {
  padding: 5px;
}

hr {
  border-top: 2px solid #8c8b8b;
  border-bottom: 2px solid #e0e0e0;
  border-color: #8c8b8b;
  width: 15em;
}
